<a href="https://colab.research.google.com/github/hariharankpz/Playground/blob/master/Assignments/Flight%20Data%20Aggregation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Test_Scenario3.xls to Test_Scenario3.xls

In [ ]:
# !pip install xlrd==1.2.0
import pandas as pd

In [ ]:
df = pd.read_excel("Test_Scenario3.xls")

In [ ]:
df.head()

,FLIGHT_DATE,FLIGHT_NUMBER,ORIGIN,DESTINATION,PNR_NUMBER,PNR_STATUS,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2020-05-22,FL134,OJK,FLA,A22P4H,CANCELLED,NaN,NaN,NaN,Dataset Description,NaN
1,2020-05-25,FL133,FLA,OJK,A22P4H,CANCELLED,NaN,NaN,NaN,Attribute,Description
2,2020-05-24,FL133,FLA,OJK,A2B6W8,ACTIVE,NaN,NaN,NaN,FLIGHT_DATE,Date of Flight
3,2020-05-24,FL134,OJK,FLA,A2B6W8,ACTIVE,NaN,NaN,NaN,FLIGHT_NUMBER,Flight Number
4,2020-05-24,FL133,FLA,OJK,A2B6W8,ACTIVE,NaN,NaN,NaN,ORIGIN,Flight Origin

Removing whitespaces in the column names

In [ ]:
df.columns = df.columns.str.strip()

Grouping by flight date and flight nummber , then taking count of pnr number

In [ ]:
df_grouped1 = df.groupby(["FLIGHT_DATE","FLIGHT_NUMBER"]).agg({"PNR_NUMBER" : "count"}).reset_index()

Renaming the column pnr number with total booking

In [ ]:
df_grouped1.rename(columns = {'PNR_NUMBER':'Total Booking'}, inplace = True)
df_grouped1.head()

  FLIGHT_DATE FLIGHT_NUMBER  Total Booking
0  2020-05-21         FL133            115
1  2020-05-21         FL134            148
2  2020-05-22         FL133            129
3  2020-05-22         FL134            159
4  2020-05-23         FL133            120

Grouping by flight date and flight nummber , then taking count of pnr number where pnr status is cancelled

In [ ]:
df_grouped2 = df.where(df.PNR_STATUS == 'CANCELLED').groupby(["FLIGHT_DATE","FLIGHT_NUMBER"]).agg({"PNR_NUMBER" : "count"}).reset_index()

In [ ]:
df_grouped2.rename(columns = {'PNR_NUMBER':'CANCELLED_COUNT'}, inplace = True)
df_grouped2.head()

  FLIGHT_DATE FLIGHT_NUMBER  CANCELLED_COUNT
0  2020-05-21         FL133               15
1  2020-05-21         FL134               48
2  2020-05-22         FL133               27
3  2020-05-22         FL134               59
4  2020-05-23         FL133               20

joining two grouped tables by inner join, so that to get only the matching records from the two tables

In [ ]:
df_grouped3 = pd.merge(df_grouped1,df_grouped2,on=["FLIGHT_DATE","FLIGHT_NUMBER"],how="inner")

In [ ]:
print(len(df_grouped1))
print(len(df_grouped2))
print(len(df_grouped3))
print(len(df))

82
77
77
10031

In [ ]:
df_grouped3.isnull().values.any()

False

In [ ]:
df_grouped3.head()

  FLIGHT_DATE FLIGHT_NUMBER  Total Booking  CANCELLED_COUNT
0  2020-05-21         FL133            115               15
1  2020-05-21         FL134            148               48
2  2020-05-22         FL133            129               27
3  2020-05-22         FL134            159               59
4  2020-05-23         FL133            120               20

Adding new column Net Booking to df, by taking the difference of Total Booking and CANCELLED_COUNT

In [ ]:
df_grouped3["Net Booking"] = df_grouped3["Total Booking"]-df_grouped3["CANCELLED_COUNT"]

In [ ]:
df_grouped3.head()

  FLIGHT_DATE FLIGHT_NUMBER  Total Booking  CANCELLED_COUNT  Net Booking
0  2020-05-21         FL133            115               15          100
1  2020-05-21         FL134            148               48          100
2  2020-05-22         FL133            129               27          102
3  2020-05-22         FL134            159               59          100
4  2020-05-23         FL133            120               20          100

In [ ]:
df_final = df_grouped3[["FLIGHT_DATE","FLIGHT_NUMBER","Total Booking","Net Booking"]]

In [ ]:
df_final.head()

  FLIGHT_DATE FLIGHT_NUMBER  Total Booking  Net Booking
0  2020-05-21         FL133            115          100
1  2020-05-21         FL134            148          100
2  2020-05-22         FL133            129          102
3  2020-05-22         FL134            159          100
4  2020-05-23         FL133            120          100

In [ ]:
df_final.to_csv("Flight_Data_Aggregation.csv")

In [ ]:
from google.colab import files
files.download("Flight_Data_Aggregation.csv")