<a href="https://colab.research.google.com/github/hariharankpz/Playground/blob/master/Assignments/Loyalty%20data%20template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import files
uploaded = files.upload()

Saving Test_Secnario2.xls to Test_Secnario2.xls

In [5]:
import pandas as pd
import numpy as np

In [6]:
!pip install xlrd==1.2.0

Collecting xlrd==1.2.0
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 8.3 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-1.2.0

In [7]:
df = pd.read_excel("Test_Secnario2.xls")
df.head()

,CUSTOMER_NUMBER,GENDER,AGE,NATIONALITY,MARITAL_STATUS,PRODUCT_CODE,PURCHASE_DATE,TRANS_NUM,POINT_TYPE,POINTS,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1007,F,113.0,IN,NaN,VOYCC,2019-08-09,ACT633528,BASE_POINTS,11,NaN,NaN,NaN
1,10101,M,30.0,IN,M,SA,2019-04-01,ACT623150,OFFER_POINTS,23,NaN,NaN,NaN
2,10101,M,30.0,IN,M,SA,2019-04-01,ACT623150,BASE_POINTS,26,NaN,Dataset Description,NaN
3,10101,M,30.0,IN,M,SA,2019-07-01,ACT628206,OFFER_POINTS,23,NaN,Attribute,Description
4,10101,M,30.0,IN,M,SA,2019-07-01,ACT628206,BONUS_POINTS,32,NaN,CUSTOMER_NUMBER,Customer Identification Number

In [8]:
df['PURCHASE_DATE'].isnull().values.any()

False

Extracting month in string from date column

In [16]:
df["ACTIVITY_MONTH"] = df['PURCHASE_DATE'].dt.strftime('%b')

In [10]:
df.head()

,CUSTOMER_NUMBER,GENDER,AGE,NATIONALITY,MARITAL_STATUS,PRODUCT_CODE,PURCHASE_DATE,TRANS_NUM,POINT_TYPE,POINTS,Unnamed: 10,Unnamed: 11,Unnamed: 12,ACTIVITY_MONTH
0,1007,F,113.0,IN,NaN,VOYCC,2019-08-09,ACT633528,BASE_POINTS,11,NaN,NaN,NaN,Aug
1,10101,M,30.0,IN,M,SA,2019-04-01,ACT623150,OFFER_POINTS,23,NaN,NaN,NaN,Apr
2,10101,M,30.0,IN,M,SA,2019-04-01,ACT623150,BASE_POINTS,26,NaN,Dataset Description,NaN,Apr
3,10101,M,30.0,IN,M,SA,2019-07-01,ACT628206,OFFER_POINTS,23,NaN,Attribute,Description,Jul
4,10101,M,30.0,IN,M,SA,2019-07-01,ACT628206,BONUS_POINTS,32,NaN,CUSTOMER_NUMBER,Customer Identification Number,Jul

Doing Pivot on point type with values of coulmn points

In [11]:
df1 = df.copy()
# pd.pivot(df1 , index='CUSTOMER_NUMBER', columns="CUSTOMER_NUMBER", values="POINTS").reset_index()
df1 = df.pivot_table(index='CUSTOMER_NUMBER', columns='POINT_TYPE', values='POINTS').reset_index().fillna(0)

# df1.join(df['ACTIVITY_MONTH'],on='CUSTOMER_NUMBER', how='outer')

In [12]:
df3 = pd.merge(df,df1,on="CUSTOMER_NUMBER")

In [13]:
len(df3)
print(df3.columns)

Index(['CUSTOMER_NUMBER', 'GENDER', 'AGE', 'NATIONALITY', 'MARITAL_STATUS',
       'PRODUCT_CODE', 'PURCHASE_DATE', 'TRANS_NUM', 'POINT_TYPE', 'POINTS',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'ACTIVITY_MONTH',
       'BASE_POINTS', 'BONUS_POINTS', 'LIFEMILES_POINTS', 'OFFER_POINTS'],
      dtype='object')

Selecting only the needed columns

In [14]:
df4 = df3[["CUSTOMER_NUMBER","ACTIVITY_MONTH","BASE_POINTS","OFFER_POINTS","BONUS_POINTS","LIFEMILES_POINTS"]]
df4.to_csv("Loyalty_data_template.csv",index=False)

In [15]:
from google.colab import files
files.download("Loyalty_data_template.csv")

In [17]:
df4.head()

,CUSTOMER_NUMBER,ACTIVITY_MONTH,BASE_POINTS,OFFER_POINTS,BONUS_POINTS,LIFEMILES_POINTS
0,1007,Aug,11.0,0.0,0.0,0.0
1,10101,Apr,69.0,23.0,32.0,12.0
2,10101,Apr,69.0,23.0,32.0,12.0
3,10101,Jul,69.0,23.0,32.0,12.0
4,10101,Jul,69.0,23.0,32.0,12.0